form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

label {
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
}

input {
    width: 200px;
    height: 32px;
    
    border: none;
    background: #f1ebe5;
    text-align: center;
    color: #212121;
    font-weight: 600;
}

button {
    width: 160px;
    height: 42px;
    cursor: pointer;

    color: #212121;
    background-color: #f1ebe5;

    border-radius: 10%;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
}